<div class="container">

  <div ng-if="isLoaded()" ng-init="event = getEvent()">
    <div class="jumbotron">
      <h1>{{event.title()}}</h1>
      <p class="preformatted-text">{{event.description()}}</p>
      
      <div ng-if="!isTicketPurchaseFormOpen()">
        <button class="btn btn-lg btn-primary" ng-click="openTicketPurchaseForm()">Buy Tickets</button>
        <div ng-if="canManageEvent(event)">
          <a href="#/event/{{event.id()}}/manage" class="btn btn-lg btn-default">Edit</a>
          <button class="btn btn-lg btn-danger" ng-click="cancelEvent(event)">Cancel Event</button>
        </div>
      </div>

      <div event-ticket-purchase-form ng-init="setTicketPurchaseForm(form)"></div>
    </div>

    <div>
      <h4>Event Information</h4>

      <div>
        <label>Location</label>
        <p class="preformatted-text">{{event.location()}}</p>
      </div>

      <div>
        <label>Doors</label>
        <p>{{event.doorsAt() | prettyDate}}</p>
      </div>

      <div>
        <label>Starts</label>
        <p>{{event.startsAt() | prettyDate}}</p>
      </div>

      <div>
        <label>Ends</label>
        <p>{{event.endsAt() | prettyDate}}</p>
      </div>
    </div>

    <div>
      <h4>Tickets</h4>

      <div ng-repeat="ticketType in event.ticketTypes()">
        <label>{{ticketType.description()}} ({{ticketType.quantityRemaining()}} tickets left)</label>
        <p>{{ticketType.cost() | currency:'$'}} each</p>
      </div>
    </div>
  </div>

</div>
